<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <th:block th:include="fragments/scriptsAndCss :: main"></th:block>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C4BTKLSLBD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C4BTKLSLBD');
    </script>

    <title th:text="#{resetPassword.title}"></title>
</head>
<body>
<th:block th:include="fragments/overlayLoading :: main"></th:block>
<main class="registerMain">
    <div class="container">
        <div class="row align-items-center">
            <div class="mx-auto borderRadiusBlueBackground mt-5">
                <div class="d-flex py-3">
                    <h2 class="white fw-bold mx-auto" th:text="#{resetPassword.title}"></h2>
                </div>
                <th:block th:if="${resetToken != null}">
                    <div class="d-flex justify-content-center py-3">
                        <input type="hidden" id="resetToken" th:value="${resetToken}"/>
                        <input type="password" id="passwordReset" name="passwordReset" class="w-50 form-control" th:placeholder="#{resetPassword.password}"/>
                    </div>
                    <div class="d-flex justify-content-center py-3">
                        <input type="password" id="confirmPasswordReset" name="confirmPasswordReset" class="w-50 form-control" th:placeholder="#{resetPassword.confirmPassword}"/>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="alert alert-inverted-success mt-3 d-none" id="alertPasswordSuccess" role="alert" th:text="#{resetPassword.success}"></div>
                        <div class="alert alert-inverted-danger mt-3 d-none" id="alertPasswordMismatch" role="alert" th:text="#{resetPassword.passwordMismatch}"></div>
                    </div>
                    <div class="d-flex mt-3">
                        <button class="btn btn-custom mx-auto" id="submitResetPasswordButton" type="button" th:text="#{resetPassword.reset}"></button>
                    </div>
                    <div class="d-flex mx-auto my-2">
                        <span class="white fw-bold mx-auto">Back <a  class="white-anchor fw-bold" href="/" th:href="@{/login}" th:text="#{registration.home}"></a></span>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="row justify-content-center form-group" th:if="${errorMessage != null}">
            <div class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
        </div>
    </div>
    </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/forgotAndRecoverPassword.js}"></script>
</body>
</html>
